TYPE CASTING:Conversion of one data type to another data type.
#Complex cannot be converted to other datatypes and also a string with a text.

In [1]:
int(2.7)

2

int(2.5)

In [2]:
int(True)

1

In [3]:
int(False)

0

In [4]:
int("ten")

ValueError: invalid literal for int() with base 10: 'ten'

In [5]:
int('10')

10

In [6]:
float(100)

100.0

In [7]:
float(1+3j)

TypeError: float() argument must be a string or a real number, not 'complex'

In [8]:
complex(100)

(100+0j)

In [9]:
complex(100,50)

(100+50j)

In [10]:
complex(10,20,30)

TypeError: complex() takes at most 2 arguments (3 given)

In [11]:
complex(10,'20')

TypeError: complex() second arg can't be a string

In [12]:
complex('10')

(10+0j)

In [13]:
bool(1,0)

TypeError: bool expected at most 1 argument, got 2

In [14]:
bool(1)

True

In [15]:
bool()

False

In [16]:
bool(    )

False

In [17]:
bool(.)

SyntaxError: invalid syntax (3576635743.py, line 1)

In [18]:
bool('')

False

In [19]:
str('100')

'100'

In [20]:
str(100)

'100'

In [21]:
str(hemanth)

NameError: name 'hemanth' is not defined

In [22]:
str('hemanth')

'hemanth'

In [23]:
str(2+5j)

'(2+5j)'

In [8]:
import pandas as pd
df=pd.read_csv("/Users/hemanthreddy/Downloads/layoffs 2.csv")

In [9]:
df.head()

,company,location,industry,total_laid_off,percentage_laid_off,date,stage,country,funds_raised
0,Amazon,Seattle,Retail,10000.0,0.03,2022-11-16,IPO,United States,108.0
1,Asana,SF Bay Area,Other,180.0,0.09,2022-11-15,IPO,United States,453.0
2,Protocol,SF Bay Area,Media,60.0,1.00,2022-11-15,Acquired,United States,NaN
3,Nirvana Money,Miami,Finance,NaN,1.00,2022-11-15,Unknown,United States,NaN
4,Sema4,Stamford,Healthcare,500.0,NaN,2022-11-14,IPO,United States,791.0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1586 entries, 0 to 1585
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   company              1586 non-null   object
 1   location             1586 non-null   object
 2   industry             1583 non-null   object
 3   total_laid_off       1139 non-null   float64
 4   percentage_laid_off  1058 non-null   float64
 5   date                 1586 non-null   object
 6   stage                1582 non-null   object
 7   country              1586 non-null   object
 8   funds_raised         1481 non-null   float64
dtypes: float64(3), object(6)
memory usage: 111.6+ KB

In [11]:
import pandas as pd
df=pd.read_csv("/Users/hemanthreddy/Downloads/layoffs.csv")

In [12]:
df.head()

,company,location,industry,total_laid_off,percentage_laid_off,date,stage,country,funds_raised_millions
0,Atlassian,Sydney,Other,500.0,0.05,3/6/2023,Post-IPO,Australia,210.0
1,SiriusXM,New York City,Media,475.0,0.08,3/6/2023,Post-IPO,United States,525.0
2,Alerzo,Ibadan,Retail,400.0,NaN,3/6/2023,Series B,Nigeria,16.0
3,UpGrad,Mumbai,Education,120.0,NaN,3/6/2023,Unknown,India,631.0
4,Loft,Sao Paulo,Real Estate,340.0,0.15,3/3/2023,Unknown,Brazil,788.0

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2361 entries, 0 to 2360
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   company                2361 non-null   object
 1   location               2361 non-null   object
 2   industry               2357 non-null   object
 3   total_laid_off         1621 non-null   float64
 4   percentage_laid_off    1576 non-null   float64
 5   date                   2360 non-null   object
 6   stage                  2355 non-null   object
 7   country                2361 non-null   object
 8   funds_raised_millions  2152 non-null   float64
dtypes: float64(3), object(6)
memory usage: 166.1+ KB

In [15]:
df.isnull().sum()

company                    0
location                   0
industry                   4
total_laid_off           740
percentage_laid_off      785
date                       1
stage                      6
country                    0
funds_raised_millions    209
dtype: int64